# xcode noise
build/*
*.pbxuser
*.mode1v3
*.perspectivev3

# old skool
.svn

# osx noise
.DS_Store
profile

# log files
*.log

# object files
*.o

# executables
apmech
apserver
jonni/cegui_sdl_test/jonnin

# SConstruct database
.sconsign.dblite
