# xcode noise
build/*
*.pbxuser
*.mode1v3
*.perspectivev3

# old skool
.svn

# temp files
*~

# osx noise
.DS_Store
profile

# log files
*.log

# object files
*.o
*.obj

# VC++ output files
*.exe
*.ilk
*.pdb

makefiles/vc2008/Debug

# executables
apmech
apserver
jonni/cegui_sdl_test/jonnin
jonni/nabla-wing/nablawing

# SConstruct database
.sconsign.dblite

# Login data persistency file
login.cfg
